<div class="header">
  <div class="cabecalho">
    <div class="background-img">
      <img src="../../assets/TarefasAtiva.svg" alt="" class="tarefaAtiva" />
    </div>
    <div>
      <h3>Tarefas</h3>
      <p>Página de gerenciamento de tarefas</p>
    </div>
  </div>
  <button class="btn">
    <p class="btn-name">Novo</p>
  </button>
</div>

<div class="main">
  <div class="filtros-background">
    <div class="filtros">
      <p>Filtros</p>
      <img src="../../assets/arrowDown.svg" alt="" />
    </div>
  </div>
</div>
