@import "../app/shared/scss/mixins";

.left-side {
  position: relative;
  width: 4.9375rem;
  height: 57.4375rem;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  &.active {
    width: 15.625rem;
    transition: all 0.5s ease;
    .item {
      width: 12rem;
      align-content: center;
      span {
        color: var(--background);
      }
      justify-content: start;
      gap: 7px;
    }
    .menu {
      justify-content: space-between;
      align-items: center;
      .funcionalidade {
        height: 1.875rem;
      }
    }
  }
  .nav-side {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .item {
    margin: 0 auto;
    width: 35px;
    padding: 6px;
    border-radius: 5px;
    @include centerFlex;
    margin-bottom: 10px;
    cursor: pointer;
    .tarefas {
      margin-left: -2px;
    }
    .menu {
      margin-left: -1px;
    }
    &:hover {
      animation: trocaDeCor 0.3s forwards;
      img {
        filter: brightness(0) saturate(100%) invert(12%) sepia(6%)
          saturate(7428%) hue-rotate(200deg) brightness(100%) contrast(89%);
      }
      span {
        color: var(--primary-color);
      }
    }
  }
}
.footer.item {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 20px;
}

@keyframes trocaDeCor {
  to {
    background-color: var(--background);
    transform: scale(1.1);
  }
}

.container {
  display: flex;
}

.right-side {
  padding: 10px;
}
