@import "../app/shared/scss/mixins";

.left-side {
  position: relative;
  width: 4.9375rem;
  height: 57.4375rem;
  background-color: var(--primary-color);
  transition: all 0.5s ease;
  &.active {
    width: 17rem;
    transition: all 0.2s ease;
    .item {
      align-content: center;
      animation: itemOpen 0.5s forwards;
      span,
      p {
        color: var(--background);
      }
      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
      justify-content: start;
    }
    .tarefas {
      gap: 4px;
    }
    .listas {
      gap: 9px;
    }
    .menu {
      justify-content: space-between;
      align-items: center;
      .funcionalidade {
        height: 1.875rem;
      }
    }
    .footer {
      height: 3.75rem;
      display: flex;
      justify-content: space-between;
      .usuario {
        display: flex;
        gap: 10px;
      }
      img {
        display: block;
        justify-content: end;
      }
    }
  }
  .nav-side {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .item {
    margin: 0 auto;
    padding: 6px;
    border-radius: 5px;
    @include centerFlex;
    margin-bottom: 10px;
    cursor: pointer;
    .tarefas {
      margin-left: -2px;
    }
    .menu {
      margin-left: -1px;
    }
    &:hover.hover {
      span,
      p {
        color: var(--primary-color);
      }
    }
  }
}
.footer.item {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.container {
  display: flex;
}

.right-side {
  width: 96%;
  padding: 25px;
  background-color: var(--background);
  &.active {
    width: 96%;
  }
}

@keyframes itemOpen {
  from {
    width: 2.1875rem;
  }
  to {
    width: 12.9375rem;
  }
}
