<div class="container">
  <div class="left-side">
    <div class="nav-side">
      <div class="menu item">
        <img src="../assets/Header.svg" alt="" class="menu" />
      </div>

      <div class="navigation">
        <div class="item" routerLink="tarefas">
          <img src="../assets/ic_round-inbox (1).svg" alt="" class="tarefas" />
        </div>
        <div class="item" [routerLink]="['/listas']">
          <img src="../assets/Lista.svg" alt="" />
        </div>
      </div>
    </div>

    <div class="footer item">
      <img src="../assets/logout-icon.svg" alt="" />
    </div>
  </div>

  <div class="right-side">
    <router-outlet></router-outlet>
  </div>
</div>
