<div class="container">
  <div class="left-side" [class.active]="mostrarMenu">
    <div class="nav-side">
      <div class="menu item" (click)="ativarMenu()">
        <div class="funcionalidade">
          @if (mostrarMenu) {
          <img src="../assets/Logo.svg" alt="" />
          }
        </div>
        <img src="../assets/Header.svg" alt="" class="menu" />
      </div>

      <div class="navigation">
        <div class="item tarefas" routerLink="tarefas" [style]="iniciarAberto">
          <img
            src="../assets/ic_round-inbox (1).svg"
            alt=""
            class="tarefas"
            [style]="iconeAberto"
          />
          <div class="funcionalidade">
            @if (mostrarMenu) {
            <span [style]="paragrafoAberto">Tarefas</span>
            }
          </div>
        </div>
        <div class="item listas" [routerLink]="['/listas']">
          <img src="../assets/Lista.svg" alt="" />
          <div class="funcionalidade">
            @if (mostrarMenu) {
            <span>Listas</span>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="footer item">
      <div class="usuario">
        @if (mostrarMenu) {
        <img src="../assets/user-icon.svg" alt="" />
        <div>
          <span>Diego Inácio</span>
          <p>Usuário</p>
        </div>
        }
      </div>
      <img src="../assets/logout-icon.svg" alt="" />
    </div>
  </div>

  <div class="right-side" [class.active]="mostrarMenu">
    <router-outlet></router-outlet>
  </div>
</div>
